<div class="navbar navbar-light bg-white justify-content-between">
  <h2 class="navbar-brand">
    <img src="https://tst3-frontend-library.iipaysp.com/assets/download.png" width="100px"/>
  </h2>
  <div>
    <ul class="nav">
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn bn-lg btn-circle btn-not" id="dropdownBasic1" ngbDropdownToggle>
            <fa-icon [icon]="sync" size="lg" [styles]="{'color': '#0c6c7b'}"></fa-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" container="body" class="dropdown-menu-right">
            <h4 class="dropdown-header">Latest Legislative Updates <span class="pull-right badge badge-pill badge-primary">{{notifications.length}}</span></h4>
            <div *ngFor="let n of notifications">
              <div class="dropdown-divider"></div>
              <div ngbDropdownItem>
                <div class="row">
                  <div class="col-lg-1">
                    <fa-icon [hidden]="n.status!='success'" [icon]="success" size="lg" [styles]="{'color': '#2da68e'}"></fa-icon>
                    <fa-icon [hidden]="n.status=='success'" [icon]="error" size="lg" [styles]="{'color': 'red'}"></fa-icon>
                  </div>
                  <div class=col-lg-11>
                    <span class="bold">{{n.title}}</span><br>
                    <span>Click to view</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-lg btn-circle btn-home">
          <fa-icon [icon]="home" size="lg" [styles]="{'color': '#716aca'}"></fa-icon>
        </button>
      </li>
    </ul>


  </div>
</div>
<div class="container-fluid">
  <div aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
      <li class="breadcrumb-item"><a href="#"> <fa-icon [icon]="home"></fa-icon> Legislative Updates</a></li>
      <li class="breadcrumb-item"><a href="#">{{country}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <hr>
          <span class="bold">By {{lastUpdatedBy}}</span><br>
          <span>{{lastUpdated}}</span>
          <div [innerHTML]="body"></div>
        </div>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
