<div class="navbar navbar-light bg-light justify-content-between">
  <h2 class="navbar-brand">iiPay</h2>
  <form class="form-inline">
    <fa-icon [icon]="home"></fa-icon>
    <fa-icon [icon]="sync"></fa-icon>
  </form>
</div>
<div class="container-fluid">
  <div aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">{{country}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <hr>
          <span class="lastUpdatedBy text-dark-grey">By {{lastUpdatedBy}}</span><br>
          <span class="text-dark-grey">{{lastUpdated}}</span>
          <div [innerHTML]="body" class="text-dark-grey"></div>
        </div>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
